@mixin animated-background {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: oklch(30% 2% var(--hue));
  border-radius: inherit;
}
@mixin animated-text {
  font-size: 1rem;
  line-height: normal;
  height: unset;
  font-family: system-ui;
  color: oklch(70% 2% var(--hue));
}

#search-section {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 24px;
  padding: 16px;
  min-height: 60dvh;
  & > button {
    position: sticky;
    top: 8px;
    cursor: text;
    width: 450px;
    max-width: calc(100dvw - 24px);
    padding: 16px 8px;
    border-radius: 24px;
    isolation: isolate;
    &::before {
      @include animated-background;
    }
    span {
      @include animated-text;
    }
  }
  dialog {
    width: 500px;
    max-width: 100dvw;
    height: 500px;
    max-height: 100dvh;
    border-radius: 24px;
    border: 0;
    padding: 0;
    position: relative;
    isolation: isolate;
    &::backdrop {
      background-color: oklch(10% 10% var(--hue) / 80%);
    }
    &::before {
      @include animated-background;
    }
    .search-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      header {
        display: flex;
        gap: 8px;

        button {
          border: none;
          align-self: center;
          padding: 8px;
        }
        .search-field {
          flex: 1;
          display: grid;
          grid-template-areas: "stack";
        }
        label {
          grid-area: stack;
          place-self: center start;
          opacity: 0;
          cursor: text;
          @include animated-text;
        }
        input {
          grid-area: stack;
          align-self: stretch;
          border: 0;
          background-color: transparent;
          display: block;
          width: 100%;
          padding: 16px 0;
          &:focus-visible {
            outline: none;
          }
        }
        .search-field:has(input:placeholder-shown) {
          label {
            opacity: 1;
          }
        }
      }
      hr {
        border: none;
        border-bottom: solid 1px oklch(60% 10% var(--hue));
        width: 100%;
        margin: 0;
      }
      nav {
        flex: 1;
        overflow: auto;
        & > a {
          display: flex;
          align-items: center;
          gap: 16px;
          padding: 16px 8px;
          &:hover {
            background-color: oklch(35% 2% var(--hue));
          }
          &:active {
            background-color: oklch(37% 2% var(--hue));
          }
          h3 {
            font-weight: 400;
          }
        }
      }
    }
    .search-container:has(input:focus-visible) {
      hr {
        border-color: oklch(60% 30% var(--hue))
      }
    }
    .empty {
      flex: 1;
      display: none;
      color: oklch(80% 10% var(--hue));
    }
    nav:empty {
      display: none;
    }
    nav:empty + .empty {
      display: grid;
      place-items: center;
    }
  }
  dialog:open {
    .search-container {
      input, button, .empty, hr, nav {
        animation: fade 600ms 300ms backwards;
      }
    }
  }
}
#search-section:has(dialog:open) {
  & > button {
    opacity: 0;
  }
}
@media (max-width: 600px) {
  #search-section dialog {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}


// Generation list
.generation-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 8px;
  padding: 16px;
  max-width: 1020px;
  margin: auto;
  & > a  {
    border: solid 1px oklch(50% 20% var(--hue));
    border-radius: 8px;
    padding: 16px 8px;
  }
}



// View Transition

html:active-view-transition-type(search-open, search-close) {
  #search-section dialog:open {
    &::before {
      view-transition-name: search-box;
    }
    .search-container label {
      view-transition-name: search-input;
    }
  }
  search:not(:has(dialog:open)) {
    & > button{
      &::before {
        view-transition-name: search-box;
      }
      span {
        view-transition-name: search-input;
      }
    }
  }

  &::view-transition-image-pair(search-box) {
    overflow: clip;
    animation-name: clipping;
  }
  &::view-transition-group(search-box),
  &::view-transition-group(search-input),
  &::view-transition-image-pair(search-box) {
    animation-duration: 300ms;
  }
  
  &::view-transition-old(search-box),
  &::view-transition-new(search-box) {
    animation: none;
    height: 100%;
    width: 100%;
  }
}
html:active-view-transition-type(search-open) {
  &::view-transition-image-pair(search-box) {
    animation-direction: normal;
  }
}
html:active-view-transition-type(search-close) {
  &::view-transition-image-pair(search-box) {
    animation-direction: reverse;
  }
}

@keyframes clipping {
  from {
    border-radius: 24px;
  }
  to {
    border-radius: 0px;
  }
}


