#pokemon-list-page {
  display: flex;
  height: 100dvh;
  header {
    overflow: auto;
    display: flex;
    align-items: center;
    padding-inline: 16px;
    gap: 8px;
  }
  .previous, .next {
    position: absolute;
    inset-block: 0;
    z-index: 1;
    height: 100%;
    width: 50px;
    display: grid;
    place-items: center;
    transition: opacity 2s ease-in-out;
    padding: 0;
    &.disabled {
      opacity: 0;
      pointer-events: none;
    }
    &:hover {
      background-color: oklch(0.8 0.15 var(--hue) / 0.12);
    }
    & svg {
      fill: white;
    }
  }
  .previous {
    inset-inline-start: 0;
  }
  
  .next {
    inset-inline-end: 0;
  }
  
  .pokemon-nav {
    display: flex;
    gap: 8px;
    padding-top: 16px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: clip;
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
      border-color: transparent;
    }
    & a:first-child {
      margin-inline-start: 45%;
    }
    & a:last-child {
      margin-inline-end: 45%;
    }
    & a {
      flex-shrink: 0;
      padding: 8px;
      transition: scale 0.2s ease-out;
    }
    & a:hover {
      scale: 1.2;
    }
    & a[aria-current="page"] {
      scale: 1.2;
      border-color: var(--text);
    }
  }
  
  .pokemon-carousel {
    position: relative;
    overflow: auto;
    display: grid;
    flex: 1;
  }
  .pokemon-carousel:has(li:first-child[data-target]) .previous {
    display: none;
  }
  .pokemon-carousel:has(li:last-child[data-target]) .next {
    display: none;
  }
  
  .main-nav {
    display: flex;
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
    width: 100%;
    scroll-snap-type: inline mandatory;
    overflow: auto;
    background-image: linear-gradient(var(--gradient-direction), oklch(var(--lum-0) 10% var(--hue)), transparent 40%);


    &::-webkit-scrollbar {
      border-color: transparent;
    }
  
    & > li {
      content-visibility: auto;
      contain-intrinsic-inline-size: 100vw;
      scroll-snap-stop: always;
      scroll-snap-align: center;
      flex-shrink: 0;
      width: 100%;
      display: grid;
      place-items: center;
    }
  
  }
  .pokemon-page {
    padding: 16px;
    box-sizing: border-box;  
    accent-color: var(--primary);
    position: relative;
    display: flex;
    width: 900px;
    min-width: 50%;
    max-width: 90%;
    margin-inline: auto;
    gap: 16px;
    isolation: isolate;

    .pokemon-index {
      z-index: -1;
      position: absolute;
      inset-inline-end: 24px;
      inset-block-start: 24px;
      font-size: 15rem;
      font-weight: bold;
      color: color-mix(in oklch, var(--text) 12%, transparent);
    }
    .pokemon-profile {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1;
      h1 {
        color: var(--primary);
        text-transform: uppercase;
        font-size: 1.8rem;
      }
      .description {
        color: var(--text-variant);
      }
      .type-list {
        display: flex;
        gap: 8px;
        list-style: none;
        padding-left: 0;
        margin-block: 0;
      }
    }
    a {
      align-self: center;
    }
    .pokemon-img {
      width: 375px;
      height: 375px;
      align-self: center;
    }
    
  }
  
  @media (min-width: 901px) {
    --gradient-direction: to bottom;
    flex-direction: column;
    header {
      flex-direction: row;
    }
  }
  
  @media (max-width: 900px) {
    --gradient-direction: to top;
    flex-direction: column-reverse;
    header {
      flex-direction: row-reverse;
    }
    .previous, .next {
      display: none;
    }
    .pokemon-page {
      width: 100%;
      flex-direction: column;
      .pokemon-index {
        inset-inline-end: 0;
        inset-block-start: 50%;
        font-size: 9rem;
      }
    }
  }
  
  @media (max-width: 400px) {
    .pokemon-page {
      .pokemon-img {
        width: 300px;
        height: 300px;
        align-self: center;
      }
      .pokemon-index {
        font-size: 7rem;
      }
    }
  }
  
    
  @keyframes fade-timeline-x {
    0%, 30% {
      opacity: 0.1;
      transform: translateX(var(--translate-x, 0));
    }
    50% {
      opacity: 1;
      transform: translateX(0);
    }
    80%, 100% {
      opacity: 0.1;
      transform: translateX(calc(var(--translate-x, 0) * -1));
    }
  }
  
  @keyframes fade-nav-x {

    5%, 95% {
      opacity: 0;
      transform: scale(0.5);
    }
    40%, 60% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  @keyframes progress {
    40%, 60% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0);
    }
  }
  
  @supports (animation-timeline: view()) {
    .main-nav {
      animation-timeline: scroll(x self);
      animation-name: pokemon-colors;
      animation-duration: 1ms; // For Firefox
    }
  
    @media (prefers-reduced-motion: no-preference) {
  
      .pokemon-page {
        view-timeline-name: var(--timeline-name);
        view-timeline-axis: inline;
      }
      .pokemon-index {
        --translate-x: 60vw;
      }
      .pokemon-profile {
        --translate-x: 50vw;
      }
      .pokemon-img {
        --translate-x: 80vw;
      }      
      .pokemon-index,
      .pokemon-profile,
      .pokemon-img {
        opacity: 0;
        animation: fade-timeline-x ease-out both;
        animation-timeline: var(--timeline-name);
      }
  
      .stats .meter::after {
        animation: progress ease-out both;
        animation-timeline: var(--timeline-name);
      }
  
      .pokemon-nav {
        view-timeline-name: --pokemon-nav;
        view-timeline-axis: inline;
        & a {
          opacity: 0;
          animation: fade-nav-x  ease-out both;
          animation-timeline: view(inline);
        }
      }
    }
  }
}
