#pokemon-page {
  min-height: 100dvh;
  padding: 16px;
  padding-bottom: 80px;
  box-sizing: border-box;

  background-image: linear-gradient(
    in oklab var(--gradient-direction),
    oklch(var(--lum-0) 15% var(--hue)),
    oklch(var(--lum-4) 15% var(--hue))
  );
  background-attachment: fixed;
  accent-color: var(--primary);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 16px;

  .back {
    place-self: start;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  section {
    place-self: start center;
    display: grid;
    gap: 24px;
    width: 100%;
    max-width: 1020px;
    header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "previous next";
      .previous, .next {
        display: grid;
        justify-items: center;
        border-radius: 8px;
        border: 1px solid var(--outline);
        width: 90px;
        height: 90px;
        font-size: 0.9rem;
        color: var(--text);
        .pokemon-img {
          place-self: center;
        }
      }
      .previous {
        grid-area: previous;
        place-self: start;
      }
      .next {
        grid-area: next;
        place-self: end;
      }
    }
  }

  article {
    position: relative;
    display: flex;
    width: 900px;
    min-width: 60%;
    max-width: 90%;
    margin-inline: auto;
    margin-bottom: 24px;
    gap: 16px;
    .pokemon-img {
      width: 300px;
      height: 300px;
      align-self: center;
    }
  }
  .pokemon-index {
    z-index: -1;
    position: absolute;
    inset-inline-end: 24px;
    inset-block-start: 24px;
    font-size: 15rem;
    color: color-mix(in oklab, var(--primary) 12%, transparent);
  }
  .pokemon-profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    hgroup {
      display: flex;
      gap: 8px;
      font-size: 1.2rem;
      align-items: center;
    }
    h1 {
      color: var(--primary);
      text-transform: uppercase;
      font-size: 2rem;
    }
    .description {
      color: var(--text-variant);
    }
  }

  
}

#pokemon-stats {
  flex-direction: column;
  .stats {
    list-style: none;
    margin-block: unset;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    & > li {
      display: grid;
      grid-template-columns: 20% auto 20%;
      align-items: center;
      gap: 8px;
      text-align: center;
    }
    & .meter {
      --meter-value-color: var(--text-variant);
      --meter-inset-color: oklch(0.2 0.15 var(--hue));
    }
  }
}

@media (min-width: 901px) {
  #pokemon-page {
    --gradient-direction: to bottom;
  }
}
@media (max-width: 900px) {
  #pokemon-page {
    --gradient-direction: to top;
    .back {
      position: fixed;
      z-index: 1;
      inset-block-end: 24px;
      inset-inline-end: 24px;
    }
    article {
      width: 100%;
      flex-direction: column;
    }
    .description {
      min-height: 3lh;
    }
    .pokemon-index {
      inset-inline-end: 0;
      inset-block-start: unset;
      font-size: 5rem;
    }
  }
}
@media (max-width: 400px) {
  #pokemon-page {
    article .pokemon-img {
      width: 200px;
      height: 200px;
      align-self: center;
    }
  }
}
