[data-pokemon-evolution] {
  container-type: inline-size;
  display: grid;
  justify-content: center;
  [role="rowgroup"] {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    [role="row"] {
      display: flex;
      justify-content: space-around;
      gap: 8px;
    }
    [role="cell"] {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }
    [role="cell"]:only-child {
      position: sticky;
      top: 0;
    }
    .evolution-details {
      display: flex;
      li {
        display: flex;
        gap: 4px;
        align-items: center;
      }
    }
    a {
      display: grid;
      gap: 4px;
      place-items: center;
    }
  }
}
@container (width > 90vw) {
  [data-pokemon-evolution] {
    [role="rowgroup"] {
      flex-direction: row;
      [role="row"] {
        justify-content: start;
        flex-direction: column;
        align-items: end;
      }
    }
  }
}