#current-lang {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 24px;
  border: solid 1px var(--outline);
}

#lang-picker {
  width: 700px;
  max-width: 100%;
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    li {
      display: contents;
    }
    a {
      text-align: center;
      padding: 16px;
      border-radius: 8px;
      border: 1px solid var(--outline);
      &:hover {
        background-color: color-mix(in oklch, var(--surface) var(--alpha-hover), transparent);
      }
      &:active {
        background-color: color-mix(in oklch, var(--surface) var(--alpha-focus), transparent);
      }
    }
  }
  &::backdrop {
    background-color: oklch(50% 10% var(--hue) / 80%);
    backdrop-filter: blur(20px) saturate(150%);
  }
}