[data-filter-type] {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow-x: auto;
  padding: 8px 16px;
  label {
    position: relative;
    cursor: pointer;
    transition: all 0.2s var(--ease-out);
    input {
      position: absolute;
      inset: 0;
      opacity: 0;
      z-index: -1;
    }
    &:has(input:checked) {
      color: oklch(70% 60% var(--hue));
      transform: scale(1.1);
    }
  }
}