#pokemon-list {
  
  .grid {
    --item-width: 250px;
    padding: 16px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr));
  }
  
  @media (max-width: 600px) {
    .grid {
      --item-width: 150px;
    }
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: oklch(90% 0 0 / 0.12);
    padding: 8px 16px;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    border: solid 1px transparent;
    & img {
      width: 150px;
    }
    &:hover {
      background-color: oklch(60% var(--chroma) var(--hue) / 0.12);
      border-color: oklch(60% var(--chroma) var(--hue));
    }
  }

  
  @keyframes fade-in {
    from {
      transform: translateY(5vh);
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    to {
      transform: translateY(-5vh);
      opacity: 0;
    }
  }
  
  @keyframes fade-timeline {
    0% {
      opacity: 0;
      transform: translateY(10vh);
      scale: 0.9;
    }
    30%, 70% {
      opacity: 1;
      scale: 1;
    }
    100% {
      opacity: 0;
      scale: 0.95;
    }
  }
  
  @supports (animation-timeline: view()) {
    @media (prefers-reduced-motion: no-preference) {
      .item {
        opacity: 0;
        animation: fade-timeline ease-in-out forwards;
        animation-timeline: view();
      }
    }
  }  
}
