@property --hue {
  syntax: "<number>";
  inherits: true;
  initial-value: 250;
}

:root {
  color-scheme: dark light;
}
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: system-ui;
}

body {
  margin: 0;
  line-height: inherit;
}

h1, h2, h3, h4, h5, p {
  margin-block: unset;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
dialog {
  border: none;
  padding: 0;
  background-color: transparent;
}
ul {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}
input,button {
  font-family: system-ui;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}

@keyframes scale {
  from {
    transform: scale(var(--scale, 0.9));
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(var(--translate, 5vh));
  }
}

@keyframes scale-out {
  to {
    opacity: 0;
    transform: translateY(-5vh) scale(0.9);
  }
}
@keyframes scale-in {
  to {
    opacity: 0;
    transform: translateY(2vh) scale(1.1);
  }
}