@property --hue {
  syntax: "<number>";
  inherits: true;
  initial-value: 280;
}
@property --chroma {
  syntax: "<number>";
  inherits: true;
  initial-value: 0.01;
}

:root {
  --font-family: system-ui,  sans-serif;
  --border: none;

  --surface-0: oklch(var(--lum-0) var(--chroma) var(--hue));
  --surface-1: oklch(var(--lum-1) var(--chroma) var(--hue));
  --surface-2: oklch(var(--lum-2) var(--chroma) var(--hue));
  --surface-3: oklch(var(--lum-3) var(--chroma) var(--hue));
  --surface-4: oklch(var(--lum-4) var(--chroma) var(--hue));
  
  --ease-in: cubic-bezier(0.55, 0, 1, 0.45);
  --ease-out: cubic-bezier(0, 0.55, 0.45, 1);
  --ease-in-out: cubic-bezier(0.85, 0, 0.15, 1);
  --ease-back-in-out: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --ease-back-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  @media (prefers-reduced-motion: reduce) {
    --ease-in: ease-in;
    --ease-out: ease-out;
    --ease-in-out: ease-in-out;
    --ease-back-in-out: ease-in-out;
    --ease-back-out: ease-out;
  }
}


:root, ::backdrop {
  color-scheme: dark light;
  --chroma: 0.01;

  --lum-0: 98%;
  --lum-1: 95%;
  --lum-2: 93%;
  --lum-3: 92%;
  --lum-4: 91%;

  --color-lightness: 65%;
  --color-chroma: 0.25;

  --on-color-lightness: 100%;
  --on-color-chroma: 0;

  --alpha-hover: 8%;
  --alpha-focus: 12%;
  --alpha-drag: 24%;

  
}
@media (prefers-contrast: more) {
  :root, ::backdrop {
    --chroma: 0.02;
    --color-chroma: 0.3;
    --lum-0: 100%;
    --lum-1: 95%;
    --lum-2: 90%;
    --lum-3: 85%;
    --lum-4: 80%;
    --on-primary: #000;
    --on-secondary: #000;
    --on-tertiary: #000;
    --surface-0: #fff;
    --text: #000;
  
    --alpha-hover: 12%;
    --alpha-focus: 24%;
    --alpha-drag: 32%;
  }
}
@media (prefers-color-scheme: dark) {
  :root, ::backdrop {
    --chroma: 0.02;
    --color-lightness: 80%;
    --color-chroma: 0.27;
  
    --lum-0: 12%;
    --lum-1: 17%;
    --lum-2: 22%;
    --lum-3: 26%;
    --lum-4: 28%;
  
    --alpha-hover: 12%;
    --alpha-focus: 24%;
    --alpha-drag: 32%;
  
    --on-color-lightness: 20%;
    --on-color-chroma: 0.15;
  }
}
@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
  :root, ::backdrop {
    --chroma: 0.01;
    --chroma-color: 0.2;
    --on-color-lightness: 0%;
    --lum-0: 0%;
    --lum-1: 20%;
    --lum-2: 25%;
    --lum-3: 30%;
    --lum-4: 35%;
    --text: #fff;
    --on-primary: #000;
    --on-secondary: #000;
    --on-tertiary: #000;
    --surface-0: #000;
  
    --alpha-hover: 24%;
    --alpha-focus: 32%;
    --alpha-drag: 40%;
  }
}


::backdrop, .theme, :root {
  --primary-hue: var(--hue);
  --secondary-hue: calc(var(--hue) + 90);
  --warn-hue: 30;

  --text: oklch(20% var(--chroma) var(--hue));
  --text-variant: oklch(40% var(--chroma) var(--hue));

  --background: var(--surface-0);
  --background-blur: none;
  
  --overlay: var(--surface-4);

  --overlay-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  --surface-higher: var(--surface-4);
  --surface-high: var(--surface-3);
  --surface: var(--surface-2);
  --surface-low: var(--surface-1);
  --surface-lower:  var(--surface-0);

  --disabled: oklch(50% 0 var(--hue));
  --outline: oklch(30% var(--chroma) var(--hue));
  --divider: oklch(50% var(--chroma) var(--hue));

  --outline: oklch(50% var(--chroma) var(--hue));
  --divider: oklch(30% var(--chroma) var(--hue));

  --primary: oklch(var(--color-lightness) var(--color-chroma) var(--primary-hue));
  --on-primary: oklch(var(--on-color-lightness) var(--on-color-chroma) var(--primary-hue));

}
@media (prefers-color-scheme: dark) {
  ::backdrop, .theme, :root {
    --chroma: 0.02;
    --text: oklch(100% var(--chroma) var(--hue));
    --text-variant: oklch(85% var(--chroma) var(--hue));  
    --divider: oklch(70% var(--chroma) var(--hue));
  }
}


html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: system-ui;
  background-color: var(--background);
}

body {
  margin: 0;
  line-height: inherit;
}

h1, h2, h3, h4, h5, p {
  margin-block: unset;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
dialog {
  border: none;
  padding: 0;
  background-color: transparent;
}
ul, ol {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}
input,button {
  font-family: system-ui;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}

@keyframes scale {
  from {
    transform: scale(var(--scale, 0.9));
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(var(--translate, 5vh));
  }
}

@keyframes scale-out {
  to {
    opacity: 0;
    transform: translateY(-5vh) scale(0.9);
  }
}
@keyframes scale-in {
  to {
    opacity: 0;
    transform: translateY(2vh) scale(1.1);
  }
}

@view-transition {
  navigation: auto;
  types: page-transition;
}


::view-transition-new(.pokemon-img):only-child,
::view-transition-old(.pokemon-img):only-child {
  display: none;
  animation: none;
}
::view-transition-old(.meter):only-child {
  display: none;
  animation: none;
}

::view-transition-old(app-logo),
::view-transition-new(app-logo) {
  animation: none;
}

html:active-view-transition-type(page-transition) {
  &::view-transition-new(.pokemon-img),
  &::view-transition-old(.pokemon-img) {
    animation: none;
  }
}

html:not(:active-view-transition-type(page-transition)) {
  &::view-transition-group(app-logo),
  &::view-transition-group(.pokemon-img) {
    animation: none;
  }
}

@keyframes viewport-transition {
  0%, 100% {
    view-transition-name: none;
  }
  1%, 99% {
    view-transition-name: var(--view-transition-name);
  }
}