:root {
  color-scheme: dark light;
}
html {
  --hue: 250;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    system-ui,
    ui-sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  scroll-snap-type: inline mandatory;
}

body {
  margin: 0;
  line-height: inherit;
}

h1, h2, h3, h4, h5, p {
  margin-block: unset;
}

@media (prefers-reduced-motion: no-preference) {
  main {
    view-transition-name: main;
  }
  /* Avoid new page to slidein if height is different */
  ::view-transition-group(main) {
    animation: none;
  }
  /* ::view-transition-old(main) {
    animation: fade reverse 0.2s both;
  } */
  ::view-transition-new(main) {
    animation: fade 0.3s 0.2s both;
  }
}

@keyframes scale {
  from {
    transform: scale(var(--scale, 0.9));
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(var(--translate, 5vh));
  }
}

@keyframes scale-out {
  to {
    opacity: 0;
    transform: translateY(-5vh) scale(0.9);
  }
}
@keyframes scale-in {
  to {
    opacity: 0;
    transform: translateY(2vh) scale(1.1);
  }
}