.meter {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid var(--text);
  border-radius: 16px;
  height: 16px;
  width: 100%;
}
.meter::after {
  content: "";
  position: absolute;
  inset: 4px;
  border-radius: inherit;
  background-color: var(--meter-value-color, var(--text));
  width: var(--percent, 0%);
  view-transition-name: var(--view-transition-percent);
  view-transition-class: meter;
  animation-timeline: scroll(block root);
  animation-name: view-transition-name;
}
html:active-view-transition-type(page-transition) {
  &::view-transition-new(.meter),
  &::view-transition-old(.meter) {
    height: 100%;
    width: 100%;
    animation: none;
  }
}
@keyframes view-transition-name {
  0% {
    view-transition-name: var(--view-transition-percent);
  }
  1%, 100% {
    view-transition-name: none;
  }
}